artisan
.idea
.phpunit.result.cache
build
composer.lock
coverage
phpunit.xml
phpstan.neon
vendor
node_modules
tests/Screenshots

docs/*.blade.php
docs/**/*.blade.php
.phpunit.cache/test-results
.DS_Store
